@using Microsoft.AspNetCore.Identity
@using System.Text.Json
@using System.Security.Claims

@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>MOSAS Kavşaklar</title>
	<link href="/css/stylelayout.css" rel="stylesheet" />
	<link href="/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
	<link href="/Contents/Icons/themify-icons.css" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet">
	<link href="/css/tableStyle.css" rel="stylesheet" />
	<link rel="manifest" href="/manifest.webmanifest">
	<meta name="theme-color" content="#ffc107">
	<link rel="apple-touch-icon" href="/uploads/icons/mosas-modern-192.png">
	<meta name="apple-mobile-web-app-capable" content="yes">

</head>
<body data-page="@ViewData["Page"]">

	<div id="blur-bg"></div>


	<!-- Navbar -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm mb-0">
		<div class="container">
			<a class="navbar-brand fw-bold" href="/Home/Map">MOSAS</a>

			@if (User?.Identity != null && User.Identity.IsAuthenticated)
			{
				var role = User.FindFirst(ClaimTypes.Role)!.Value;

				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav ms-auto">
						<li class="nav-item">
							<a class="nav-link mx-1 border-bottom border-1 border-warning @(ViewContext.RouteData.Values["action"]?.ToString() == "Map" ? "active" : "")" href="/Home/Map">
								Harita
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link mx-1 border-bottom border-1 border-warning @(ViewContext.RouteData.Values["action"]?.ToString() == "Index" ? "active" : "")" href="/Intersections/Index">
								Kavşak Listesi
							</a>
						</li>
						@if (role == "Admin")
						{
							<li class="nav-item">
								<a class="nav-link mx-1 border-bottom border-1 border-warning @(ViewContext.RouteData.Values["action"]?.ToString() == "DeactiveList" ? "active" : "")" href="/Intersections/DeactiveList">
									Pasif Kavşaklar
								</a>
							</li>

							<li class="nav-item">
								<a class="nav-link mx-1 border-bottom border-1 border-warning @(ViewContext.RouteData.Values["action"]?.ToString() == "AllEmployees" ? "active" : "")" href="/Employee/AllEmployees">
									Çalışanlar
								</a>
							</li>
						}

						@* User *@
						<li class="nav-item dropdown border border-1 border-warning rounded-1">
							<a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
							   data-bs-toggle="dropdown" aria-expanded="false">
								<i class="bi bi-person"></i> @User.Identity.Name
							</a>
							<ul class="dropdown-menu dropdown-menu-dark border-1 border-warning" aria-labelledby="userDropdown">
								@* <li>
									<a class="dropdown-item" href="/Account/Profile">
										<i class="bi bi-person-lines-fill"></i> Profilim
									</a>
								</li> *@

								<li><hr class="dropdown-divider"></li>
								@if (role == "Admin")
								{
									<li>
										<a class="dropdown-item" href="/ChangeRequests/Pending">
											<i class="bi bi-bell"></i> İstekler @await Component.InvokeAsync("PendingCount")
										</a>
									</li>

									<li>
										<a class="dropdown-item text-warning d-flex align-items-center" href="/Auth/Register">
											<i class="bi bi-plus me-2"></i> Kullanıcı ekle
										</a>
									</li>
								}

								<li>
									<a class="dropdown-item text-danger" href="/Auth/Logout">
										<i class="bi bi-door-open"></i> Çıkış Yap
									</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			}
		</div>
	</nav>


	<!-- İçerik -->

	<main class="content container">
		@RenderBody()
	</main>



	<script src="~/js/jquery-3.7.1.min.js"></script>
	<script src="~/js/jquery.validate.min.js"></script>
	<script src="~/js/jquery.validate.unobtrusive.js"></script>
	<script src="/js/bootstrap/bootstrap.min.js"></script>
	<script src="~/js/intersections.js"></script>

	@RenderSection("Scripts", required: false)

	<script>
		if ('serviceWorker' in navigator) {
		  window.addEventListener('load', function () {
			navigator.serviceWorker.register('/sw.js');
		  });
		}
	</script>
</body>
</html>
